
/* Mobile first CSS*/



.nav-bar ul li{
  display:inline;
}

.nav-bar {
  float:right;
  margin-right: 80px;
  margin-bottom: 150p;
}


.websiteheader {
  font-family: 'Lobster', cursive;
  font-size:20rem;
}

.subheading {
  font-family: 'Bitter', serif;
  font-size:3rem;

}




************ MOBILE RESPONSIVE CSS BELOW *******************************

/*Larger then phablet */

@media (min-width:550px) {
    .websiteheader {
    font-size:8rem;
  }

}


/*Larger then tablet */
@media (min-width:750px) {

  .websiteheader {
    font-size:10rem;
  }
  

}




